<div class="py-3 bg-dark text-white fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <p class="mb-md-0 d-flex justify-content-center">(C) 2023 Skt Spot. All rights reserved. </p>
            </div>
        </div>
    </div>
</div>