<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Skt Spots</a>
  <div class="form-inline">
     <% if user_signed_in? %>
        <a class="nav-link dropdown-toggle" href="#" id="profileDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropDown">
          <a class="dropdown-item" href="#">Paramètres</a>
          <a class="dropdown-item" href="#"><%= link_to "Déconnection", destroy_user_session_path, method: :delete %></a>
        </div>
    <% else %>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2">Se connecter</button>
        <button class="btn btn-success my-2 my-sm-0">S'inscrire</button>
    <% end %> 
  </div>
</nav>